.container {
   display: grid;

   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1fr 1fr;
   grid-template-areas:
      "a . b b"
      "c d e f"
      "g g g f";

   min-height: 100vh;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
   padding: 20px;
}

article, aside, section, main, section div {
   display: flex;
   font-family: 'Arial';
   font-weight: bold;
   justify-content: center;
   align-items: center;
}

.menu1 {
   grid-area: a;
   background: #DE0B7E;
   min-height: 40px;
}

.menu2 {
   grid-area: b;
   background: #FFF100;
   min-height: 40px;
}

.card1 {
   grid-area: c;
}

.card2 {
   grid-area: d;
}

.card3 {
   grid-area: e;
}

article {
   background: #01A4CF;
}

.aside {
   grid-area: f;
   background: #36353A;
   min-height: 40px;
}

.main {
   grid-area: g;
   background: #01A4CF;
}

@media (max-width: 1024px) {
   /* tablet layout here */
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.2fr 0.3fr 1fr 1fr 1fr;
      grid-template-areas:
         "a b"
         "f f"
         "c d"
         "e e"
         "g g";
         padding: 10px;
         grid-row-gap: 10px;
   }
}

@media (max-width: 480px) {
   /* phone layout here */
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "a ."
         "b b"
         "c c"
         "d d"
         "e e"
         "g g";
   }

   article, main {
      min-height: 30vh;
   }

   aside {
      display: none;
   }
}